In [12]:
!pip install catboost
import pandas as pd
import catboost
from google.colab import drive
drive.mount('/content/drive')

Requirement already satisfied: catboost in /usr/local/lib/python3.7/dist-packages (0.26.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [18]:
from catboost import CatBoostRegressor

In [22]:
test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Kareliya_final/test1.csv')
train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Kareliya_final/train1.csv')

In [23]:
# доход
income_ans = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Kareliya_final/income_ans.csv')
# Initialize CatBoostRegressor

income_ans.head()

           ans
0  24873441175
1  27556466681
2  26893154750
3  23984242603
4  27750206180

In [24]:
train.head()

   population  index1  index2       val  ...  import1  import2  unemp1  unemp2
0       646.1   107.3   109.9  130000.0  ...    342.6    122.5    11.9     3.2
1       641.1   108.6   105.3  139200.0  ...    479.4    147.1     8.7     2.4
2       638.3   104.6   106.1  162002.8  ...    310.7     93.1     7.1     2.1
3       635.7   106.7   106.5  167500.0  ...    234.0     75.3     6.4     1.9
4       633.5   107.5   110.9  185640.4  ...    206.8     88.4     6.3     1.9

[5 rows x 21 columns]

In [37]:
model = CatBoostRegressor(iterations=5,
                          learning_rate=5,
                          depth=2)
# Fit model
model.fit(train, income_ans)
# Get predictions
preds = model.predict(test)
preds

0:	learn: 4146747986.3318791	total: 212us	remaining: 850us
1:	learn: 4198545768.1794314	total: 412us	remaining: 619us
2:	learn: 5874229695.5064974	total: 1.33ms	remaining: 888us
3:	learn: 8557734866.1033087	total: 1.51ms	remaining: 378us
4:	learn: 12665714671.1168251	total: 2.26ms	remaining: 0us

learning rate is greater than 1. You probably need to decrease learning rate.
learning rate is greater than 1. You probably need to decrease learning rate.

array([4.39650838e+10])

In [38]:
expense_ans = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Kareliya_final/expense_ans.csv')

In [39]:
expense_ans.head()

         names
0  25641875415
1  27631246904
2  29140749888
3  28754420604
4  31039085086

In [60]:
# расходы
model = CatBoostRegressor(iterations=5,
                          learning_rate=4,
                          depth=1)
# Fit model
model.fit(train, expense_ans)
# Get predictions
preds = model.predict(test)
preds

0:	learn: 6343712801.8320742	total: 170us	remaining: 680us
1:	learn: 8333547559.6139727	total: 329us	remaining: 494us
2:	learn: 11380130996.0804558	total: 662us	remaining: 441us
3:	learn: 15978011334.5718651	total: 997us	remaining: 249us
4:	learn: 22866498547.9574547	total: 1.3ms	remaining: 0us

learning rate is greater than 1. You probably need to decrease learning rate.
learning rate is greater than 1. You probably need to decrease learning rate.

array([5.2046176e+10])

In [62]:
(52046176000 - 50268395809.96) * 100/52046176000

3.4157748497026965

In [63]:
model.get_feature_importance()

array([57.77571032,  0.        ,  0.        , 13.05570553,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  3.49905897,
        0.        ,  0.        ,  0.        ,  0.        , 25.66952517,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ])